# Telegram: creează un bot cu @BotFather -> primești TOKEN
# Scrie-i botului un mesaj, apoi deschide https://api.telegram.org/bot<TOKEN>/getUpdates -> "chat":{"id":...}
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
